/build/
/data-sets/
/.settings/
/matlab/result-*
/scripts/**/*.txt
/*/*.csv
*.ipynb_checkpoints
*.autosave

% Ignore VS code settings
*.vscode

% Ignore logged mesh ply
*.ply

% Ignore Mac stuff
*.DS_Store

% Remove recovery files from matlab.
*~
% Ignore media files
*.png
*.mp4

/scripts/*.yaml

% Ignore large vocabulary files
/vocabulary/*

% Ignore python bytecode
*.pyc
